.links-container{
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.left-links-container a{
    display: flex;
    gap : 30px;
    color: inherit;
    text-decoration: none;
}

.left-links-container li.active{
    background-color: #F65261;
}

.left-links-container li:hover{
    border-bottom: 5px solid #F65261;
    width: 100%;
    border-radius: 1px;
    transition: 0.5s ease;
    display: inline-block;
}

.left-links-container ul{
    padding: 0;
    margin-top: 20px;
    list-style: none;
    display: flex;
    gap: 1rem;

}


.right-links-container{
    display: flex;
    gap: 30px;
    /* margin-top: -21px; */
    justify-content: center;
    align-items: center;
}

hr{
    margin-top: 20px;
    width: 1110px;
    color: #424242;
    background-color: #424242;
}

.arrow-down {
    margin-top: 5px;
    margin-left: 0;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #F65261;
  }

  .found-movies{
    color: #FFFFFF;
    font-size: large;
    margin-left: 190px;
    margin-top: 16px;
  }