.logo{
    margin-top: 20px;
    margin-left: 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.add-movie{
    font-family: Montserrat;
    width: 177px;
    height: 46px;
    border-radius: 4px;
    background-color: #606060;
    color: #F65261;
    opacity: 68%;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 17px;
    cursor: pointer;
    opacity: 68%;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #232323;    ;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.modal-inputs{
    width: 525px;
    height: 57px;
    background-color: #323232;
    opacity: 80%;
    border-radius: 4px;
}