.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 396px;
    background-image: url('../../assets/images/header.png');
}

@media screen and (min-width: 390px) {
    .search-container{
        display: flex;
        width: 100%;
    }
    .search-input{
        justify-content: center;
        align-items: center;
        width: 340px;
        height: 45px;
    }
    .main-title{
        text-align: center;
    }
}

.search-input{
    width: 713px;
    height: 57px;
    border-radius: 4px;
    color: #FFFFFF;
    opacity: 70%;
    border: none;
    opacity: 70%;
    font-size: 20px;
    padding: 10px;
    background-color: #323232;
}

input::placeholder{
    opacity: 30px;
    font-weight: 50;
    font-size: 15px;
    margin: 20px;
    padding: 10px;
    color: #FFFFFF;
}

.main-title{
font-style: normal;;
font-weight: 300;
font-size: 40px;
line-height: 49px;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
}

body{
    background-color: black;
}

.search-button{
    width: 233px;
    height: 57px;
    border-radius: 4px;
    background: #F65261;
    color: #FFFFFF;
    margin: 10px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    font-family: Montserrat;
}

.output{
    color: #FFFFFF;
}

