.logo{
    margin-top: 20px;
    margin-left: 20px;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.add-movie{
    width: 177px;
    height: 46px;
    border-radius: 4px;
    background-color: #606060;
    color: #F65261;
    opacity: 68%;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 17px;
    cursor: pointer;
}